.container {
    width: 75%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.container h1 {
    margin-left: 20px;
    color: #ffff;
}

.container input {
    margin: 10px;
    height: 30px;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
    border-color: transparent;
    background: #5466AE;
    color: white;
}

.container input::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

.container input::-ms-input-placeholder { /* Edge 12 -18 */
    color: white;
}

.todoContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.notDoneContainer {
    justify-content: start;
}

.isDoneContainer span {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-decoration: line-through;
}

.isDoneHeader {
    margin: 10px 0 5px 10px;
    background: #5466AE;
    color: white;
    border-radius: 10px;
    width: fit-content;
    font-size: 12px;
    padding: 10px;
}

.contextMenu {
    position: absolute;
    padding: 5px;
    border-radius: 10px;
    background: rgba(206, 212, 218, 0.84);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.contextMenu li {
    margin: 5px;
    cursor: pointer;
}

.contextMenuShadow {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}