.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.contextMenu {
    position: absolute;
    background: red;
}

.contextMenuShadow {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}