.container {
    padding: 10px 20px 10px 20px;
}

li input {
    margin-left: 5px;
    background: white;
    outline: none;
    border: 1px solid #868e96;
    height: 25px;
    font-size: 15px;
}

.icon {
    margin-right: 5px;
}