.selected {
    background: #CFD0D0;
}

.selectedBlur {
    background: #D4D4D5 !important;
}

.count {
    color: #868e96;
}

.listItem {
    display: flex;
    justify-content: space-between;
}

.show {
    max-width: 50vw;
    overflow: hidden;
}

.hideMenuButton {
    display: none;
    background: transparent;
    width: 40px;
    font-size: 1.2rem;
    margin-left: 20px;
    border: none;
    color: #868e96;
    cursor: pointer;
}

.showMenuButton {
    display: none;
    font-size: 1.2rem;
    border: none;
    color: #D4D4D5;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    background: rgba(191, 198, 208, 0.38);
    padding: 5px;
    border-radius: 5px;
}

.showMenuButton img {
    width: 30px;
}

@media screen and (max-width: 768px) {
    .hideMenuButton {
        display: block;
    }

    .showMenuButton {
        display: block;
    }
}